  <div class="form-inline">
  	<div ng-if="type.field_set.length > 0" ng-repeat="field in type.field_set">
  		<input type="text" id="field.title" name="field.title" class="form-control" ng-model="field.title">
  		<a class="btn btn-sm btn-danger btn-xs" ng-click="delField(field)">
    		<span class="glyphicon glyphicon-minus"></span>
 		</a>
  		<br>
  	</div>

	<label for="fieldTypes">Add new field</label>
		<div class="form-inline">
    		<div class="form-group">
  				<select class="form-control" id="fieldTypes" ng-model="newField.field_type.id" name="fieldTypes" ng-options="type.id as type.name for type in fieldTypes">
  					<option value="">--Select type of field--</option>
  				</select>
  		  	</div>
  		</div>
  		<br> 
  		<div ng-if="newField.field_type.id != undefined">
 			<input type="text" name="title" id="title"class="form-control" placeholder="Input field name" ng-model="newField.title"> 
 			<a class="btn btn-sm btn-primary btn-xs" ng-click=addField()> <span class="glyphicon glyphicon-plus"></span>
 			</a>
 		</div>
 		<br>

 		<div ng-if="newField.field_type.id == 4">
 			<label for="items">Example: </label>
 			<div class="form-group  col-md-4">
 			<select class="form-control" id="items" name="items" ng-model="sample" ng-options="item.name for item in newField.enum_set"></select>
 		</div>
 		</div>
 		<br>
 		
 		<div ng-if="newField.field_type.id == 4">
 			<input type="text" name="enum" id="enum" class="form-control" placeholder="Add item" ng-model="newItem"> 
 			<a class="btn btn-sm btn-primary btn-xs" ng-click=addItem(newItem)> <span class="glyphicon glyphicon-plus"></span>
 			</a>
 		</div>
 		<br>
	</div>