<div>
<div>
	<h2>{{vm.title}}</h2>
</div>

<div class="form-group col-md-4" ng-form name="riskTypeForm">
<fieldset ng-class="{'has-error': riskTypeForm.name.$error.required && riskTypeForm.$dirty}">

  <label for="name">Name:</label>
  <input type="text" class="form-control required" id="name" ng-model="vm.currentRiskType.name"  required maxlength="255" ng-maxlength="255" placeholder="Name">

   <p class="help-block" ng-show="riskTypeForm.$invalid">
    <span ng-show="riskTypeForm.$error.required">Name of risk type is required</span>
   </p>

  <label for="description">Description:</label>
  <textarea class="form-control" rows="5" cols="3" id="description" ng-model="vm.currentRiskType.description"></textarea>
  <br>

  <risk-type-fields type="vm.currentRiskType"></risk-type-fields>

  <a class="btn btn-sm btn-success" href="" ng-click="vm.save()" ng-if="riskTypeForm.$valid">
    <span class="glyphicon glyphicon-ok"></span>&nbsp;Save
 </a>
 <a class="btn btn-sm btn-danger" href="" ng-click="vm.del()" ng-if="vm.currentRiskType.id != undefined">
    <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
 </a>
  <a class="btn btn-sm btn-primary" href="" ng-click="vm.close()">
    <span class="glyphicon glyphicon-remove"></span>&nbsp;Close
 </a>
</fieldset>
</div>
</div>