<div class="container">

  <div class="container">
  <h2>List Of Risk Types</h2>
  <div class="list-group">
    <div ng-repeat="risk in vm.allRisks">
    <a href="#/risk_type_details/{{risk.id}}" class="list-group-item">
      <h4 class="list-group-item-heading">{{risk.name}}</h4>
      <p class="list-group-item-text">{{risk.description}}</p>
    </a>
  </div>
  </div>
  <a class="btn btn-sm btn-primary" href="#/new_risk_type">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
 </a>
</div>

</div>
